[submodule "la-capitaine-icon-theme"]
	path = .icons/la-capitaine-icon-theme
	url = https://github.com/keeferrourke/la-capitaine-icon-theme.git

[submodule "macOS"]
	path = .themes/macOS
	url = https://github.com/B00merang-Project/macOS.git

[submodule "macOS-Dark"]
	path = .themes/macOS-Dark
	url = https://github.com/B00merang-Project/macOS-Dark.git 

